/* Google Link for Roboto Font Family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{

    /* Fnt Family */
    --font-family: 'Roboto', sans-serif;

    /* Font Sizes */
    --text-size: 16px;
    --small-text-size: 14px;
    --h1-size: 32px;
    --h2-size: 28px;
    --h3-size: 20px;

    /* Colors */
    --black-color: #212121;
    --primary-color: #4E5256;
    --secondary-color: #80868B;
    --blue-color: #1A73E8;
    --white-color: #FFF;
    --bg-color: #F8F9FA;
    --border-color: #DADCE0;
    --blue-color-hover: #E8F0FE;
    --grey-color-hover: #F1F3F4;

    /* Box Shadows */
    --nav-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    --text-shadow: 0 1px 2px  rgba(176, 176, 176, 0.3), 0 2px 6px rgba(165, 165, 165, 0.15);

    /* Font Weights */
    --text: 300;
    --normal: 400;
    --medium: 500;
    --semi-bold: 600;

}


/*#region           Standard Classes              */

    html{
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
    }

    body{
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
        font-family: var(--font-family);
        background-color: var(--bg-color);
        color: var(--primary-color);
    }

    h3{
        font-size: var(--h3-size);
        margin: 0;
    }

    h1{
        font-size: var(--h1-size);
        margin: 0;
    }

    h2{
        font-size: var(--h2-size);
        margin: 0;
    }
    
    h4{
        margin: 0;
        font-size: var(--text-size);
    }

    button{
        outline: none;
        border: none;
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    p{
        margin: 0;
    }

/*#endregion           Standard Classes              */





/*#region           Reusable Classes              */

    .flex{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .main-section{
        width: 65%;
        background-color: white;
        padding: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
        box-shadow: var(--nav-box-shadow);
        border-radius: 0.2rem;
    }

    .element-heading{
        text-shadow: var(--text-shadow);
    }

    .inbuilt-anchor{
        color: var(--blue-color);
    }

    .warning{
        background-color: #fef7e0;
        color: var(--black-color) ;
        border: 1px solid #ea8600;
        border-left-width: 3px;
        border-right-width: 3px;
        width: 97%;
        border-radius: 0.2rem;
        padding: 1.5rem 0.9rem;
    }

    .success{
        background-color: #e6f4ea;
        color: var(--black-color) ;
        border: 1px solid #137333;
        border-left-width: 3px;
        border-right-width: 3px;
        width: 97%;
        border-radius: 0.2rem;
        padding: 1.5rem 0.9rem;
    }

    .bullet-points{
        margin-top: -0.4rem;
    }

/*#endregion           Reusable Classes              */




/*#region           Header                            */

    header{
        width: 95.8%;
        justify-content: space-between !important;
        padding: 0.5rem 2rem;
        background-color: var(--white-color);
        position: sticky;
        top: 0;
        left: 0;
        box-shadow: var(--nav-box-shadow);
    }

    .left-nav{
        width: 50%;
    }

    .left-nav i{
        font-size: 30px;
        margin-right: 0.7rem;
        display: none;
    }

    .web_title{
        font-weight: var(--normal);
    }

    .right-nav{
        width: 50%;
        justify-content: flex-end;
        /* padding-right: 4rem; */
        gap: 1rem;
    }

    .remain-time{
        gap: 0.2rem;
        font-size: var(--text-size);
    }

    .remain-time i{
        font-size: 24px;
    }

    .language-specifier{
        background-color: transparent;
        border: 1px solid var(--border-color);
        gap: 0.4rem;
        font-size: var(--small-text-size);
        border-radius: 0.2rem;
        padding: 0.3rem 0.6rem;
        position: relative;
        transition: all 200ms ease;
    }

    .language-specifier:hover{
        background-color: var(--grey-color-hover);
    }

    .language-specifier i:first-child{
        font-size: 24px;
    }

    .language-specifier i:nth-child(2){
        font-size: 16px;
    }

    .language-menu{
        position: absolute;
        top: 80%;
        left: -30%;
        height: 30vh;
        background-color: var(--white-color);
        overflow-y: auto;
        list-style: none;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.3rem 0;
        width: 12rem;
        overflow-x: hidden;
        box-shadow: var(--nav-box-shadow);
        border-radius: 0.3rem;
        display: none;
    }

    .language-menu li{
        font-size: var(--small-text-size);
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 1rem 0;
        padding-left: 3rem;
    }

    .language-menu li:hover{
        background-color: var(--blue-color-hover);
    }

    .language-menu.show{
        display: flex;
    }

    .account{
        justify-content: center;
        border: 2px solid green;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        cursor: pointer;
    }

    .account .letter{
        width: 2.1rem;
        height: 2.1rem;
        border-radius: 50%;
        justify-content: center;
        background-color: green;
        color: var(--white-color);
    }

    .navbar{
        position: absolute;
        top: 100%;
        height: 90vh;
        overflow-y: auto;
        left: 1.2rem;
        z-index: 1000;
        /* box-shadow: 0px 5px 5px -5px #888888; */
    }

    .navbar::-webkit-scrollbar{
        width: 0;
    }

    .navbar ul{
        padding: 0;
        list-style: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.7rem;
    }

    .navbar .response-remian-time{
        display: none;
    }

    .navbar ul a{
        width: 60%;
        height: 8vh;
        background-color: var(--white-color);
        padding: 0 1rem;
        border-radius: 0.3rem;
        gap: 0.7rem;
        border: 1px solid var(--border-color);
        font-size: var(--small-text-size);
    }

    
    .navbar ul a span{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white-color);
    }
    
    .navbar ul a p{
        width: 90%;
    }
    
    .navbar ul a.current{
        box-shadow: var(--nav-box-shadow);
    }
    
    .navbar ul a.filled span{
        background-color: var(--blue-color);
        font-weight: var(--medium);
    }
    
    .navbar ul a.filled p{
        color: var(--black-color);
        font-weight: var(--semi-bold);
    }

    #nav-close{
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        font-size: 24px;
        display: none;
    }

/*#endregion           Header                            */






/*#region           Main Container              */

    .main-container-wrapper{
        margin-left: 20vw;
        justify-content: center;
        flex-direction: column;
        padding: 4rem 0;
        gap: 2rem;
    }

    .container-title{
        font-weight: normal;
        margin-bottom: 1rem;
    }

    .introductory-section{
        align-items: flex-start;
        flex-direction: column;
        width: 65%;
        border: 1px solid var(--border-color);
        padding: 1.5rem;
        border-radius: 0.2rem;
        background-color: var(--white-color);
        gap: 1.2rem;

    }

    .introductory-section h2{
        font-weight: var(--normal);
    }

    .introductory-section .flex{
        gap: 0.8rem;
    }

    .introductory-section i{
        font-size: 24px;
    }
    
    .introductory-section p{
        font-style: var(--text-size);
    }

    .main-section h2{
        font-weight: var(--normal);
        margin-bottom: 1rem;
    }

    .main-section p{
        font-size: var(--small-text-size);
        line-height: 1.5rem;
    }

    .main-section p a{
        color: var(--blue-color);
    }

    .main-section p code{
        background-color: #E8EAED;
        padding: 0.2rem;
        border-radius: 0.3rem;
        font-weight: var(--semi-bold);
    }

    .tick-points{
        align-items: flex-start;
        margin-left: 1rem;
        flex-direction: column;
        gap: 0.8rem;
    }

    .tick-points .flex{
        gap: 0.2rem;
    }

    .tick-points .flex i{
        font-size: 24px;
        color: green;
    }

    .bullet-points li:not(:last-child){
        margin-bottom: 0.4rem;
    }

    .warning a{
        text-decoration: underline;
        color: blue;
    }

    .warning a:hover{
        text-decoration: none;
    }

    .bullet-points a{
        color: var(--blue-color);
    }

    .buttons{
        width: 70%;
        position: fixed;
        bottom: 5rem;
        display: flex;
        justify-content: space-between;
    }

    .buttons sl-button{
        width: 6rem;
        box-shadow: var(--nav-box-shadow);
    }

    .code{
        background-color: var(--black-color);
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
        color: #78D9EC;
        padding: 1rem 1.5rem;
    }

    .code .comment{
        color: #9CCC65;
    }

    .main-section img{
        width: 85%;
        margin: 0 auto;
    }

    .success code{
        color: #303f9f;
        font-weight: var(--semi-bold);
    }

    .marginal-li-tag{
        margin-left: 2rem;
    }

    .warning code{
        color: #A50E0E;
        background: transparent !important;
    }

/*#endregion           Main Container              */








/* ================================================================================================== */
                                        /* Responsiveness of Site */
/* ================================================================================================== */

@media screen and (max-width: 1264px) {

    .introductory-section,
    .main-section{
        width: 70%;
    }
    
    
}





@media screen and (max-width: 1133px) {

    .buttons{
        width: 50%;
    }
    
    
}





@media screen and (max-width: 963px) {

    .main-container-wrapper {
        align-items: flex-end;
        padding: inherit 3rem;
    }

    .introductory-section,
    .main-section{
        width: 76%;
    }

    .buttons{
        width: 55%;
        padding: 0 4rem;
    }
    
    
}




@media screen and (max-width: 810px) {
    
    .right-nav .remain-time{
        display: none;
    }
    
    .left-nav{
        width: 80%;
    }

    .right-nav{
        width: 20%;
    }

    .web_title{
        width: 100%;
    }

    .left-nav i{
        display: block;
    }

    .response-remian-time{
        display: flex !important;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    .navbar{
        top: 0;
        height: 100vh;
        width: 40%;
        z-index: 10000;
        left: -100%;
        background-color: var(--bg-color);
        box-shadow: var(--nav-box-shadow);
        transition: all 300ms ease;
    }

    .navbar ul{
        align-items: center;
    }

    .navbar ul a{
        width: 80%;
    }

    #nav-close{
        display: block;
    }

    .main-container-wrapper {
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .buttons{
        bottom: 3rem;
    }
}




@media screen and (max-width: 680px) {
    
    .language-specifier{
        position: absolute;
        bottom: -92vh;
        left: 50%;
        transform: translateX(-50%);
    }

    .left-nav{
        width: 100%;
    }

    .right-nav{
        width: 10%;
    }
    .buttons{
        width: 70%;
    }

}





@media screen and (max-width: 569px) {
    
    .navbar{
        width: 60%;
    }

}



